body{
    background-color: navy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: grid;
    grid-template-columns: 200px 180px 200px;
    width: 600px;
    text-align: center;
    margin: 10px auto;
}
.player0,.playerMid,.player1{
    height: 250px;
}
.player0{
    background-color: rgba(25, 125, 165, 0.788);
}
.player1{
    background-color:  rgba(113, 230, 224, 0.788);
}
.activePlayer{
    background-color: rgb(64, 2, 146);
    border: 3px solid #fff;
}
.winnerClass{
    background-color: rgb(75, 1, 75);
    border: 3px solid yellow;
}
.p1-title,.p2-title{
    margin-top: 0;
    font-style: oblique;
}
.main-number1,.main-number2,.curr-number-0,.curr-number-1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.current-div{
    height: 80px;
}
.playerMid{
    background-color: rgba(0, 0, 0, 0.938);
}

.btns{
    display: block;
    width: 120px;
    height: 30px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(25, 107, 9);
    color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.dice{
    width: 80px;
    margin: 0;
    background:black;
}
.new-game{
    margin-top: 10px;
    margin-bottom: 10px;
}
.roll{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: rgba(255, 51, 0, 0.747);
}
.hold{
    width: 80px;
    background-color: rgb(255, 251, 41);
    color: black;
}
.resultSec{
    width: 600px;
    margin-top: 20px;
    height: 30px;
    text-align: center;
}
.rules-btn{
    width: 150px;
    height: 30px;
    background: rgba(94, 255, 0, 0.479);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.view-rules{
    margin-top: 20px;
    background: #fff;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
}
.cancel-btn{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: rgb(255, 0, 0);
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
}
.hidden{
    display: none;
}

